extends layout

block content
    .main_container
        .center-text
            h1 Historial de #{user}
            p #{datosHistorial.fecha_operacion}
            p #{datosHistorial.palabra_original}
            p #{datosHistorial.idioma_original}
            p #{datosHistorial.idioma_destino}
            p #{datosHistorial.nueva_palabra}
            
            
            