extends layout

block content
    .main_container
        .center-text
            h1 Historial de #{user}
            // Itera sobre cada registro del historial
            each registro in datosHistorial
                p Fecha de operación: #{registro.fecha_operacion}
                p Palabra original: #{registro.palabra_original}
                p Idioma original: #{registro.idioma_original}
                p Idioma destino: #{registro.idioma_destino}
                p Nueva palabra: #{registro.nueva_palabra}
            